.kraj-detail
  display none
  opacity 0
  transition opacity 0.9s
  &.active
    display block
  &.showing
    opacity 1
  &.hiding
    opacity 0 !important
  .kraj-map-container
    position absolute
    top 0
    left 0
    svg.kraj-map
      transform-origin 0 0
      transition transform 0.9s
      path:hover
        opacity 0.4
  a.closebtn
    z-index 20
