.kraje-map
  transition opacity 0.8s
  svg
    g.mesh
      fill none
      stroke white
      stroke-width 1
      stroke-opacity 0.8
    g.areas path
      &:hover
        opacity 0.7
        cursor pointer
  .supplemental
    position absolute
    top 0
    right 0
    > *
      display block
    .value
      width 46px
    h3
      width 46px
      text-align right
