.maps-container
  float left
  width 400px
  height 245px
  position relative
  .navod
    white-space nowrap
  .kraje-map
    position absolute
    top 30px
    left 0px
  .kraj-detail
    position absolute
  .validity-notice
    font-size 12px
    margin-top 8px
.pekac-container
  float left
  padding-left 20px
  margin-left 20px
  border-left 1px solid #d

