.pekac
  width 480px
  height 250px
  position relative
  float left
  h2
    position absolute
    top 5px
    margin 0
    font-size 28px
  .sub-heading
    position absolute
    top 35px
    font-size 12px
  .switcher
    position absolute
    left 0px
    top 40px
    label
      float left
      clear left
    span
      padding-left 6px
  .bars
    position absolute
    top 0px
    left 0px
    width 100%
    height @height
    overflow hidden
    .pager
      position absolute
      top 60px
      left 0px
      height (@height - 100px)
      transition left 0.8s
    .bar
      position absolute
      left 0px
      width 50px
      height 100%
      transition left 0.8s
      .texts
        position absolute
        width 100%
        top 155px
      .name
        display block
        text-align center
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        font-size 12px
        line-height 12px
      .result
        display block
        text-align center
        font-size 11px
      .barArea
        position absolute
        bottom 0px
        left 5px
        width 40px
        transition height 0.8s
        .result-mandaty
          position absolute
          top -20px
          width 100%
          text-align center
          font-size 12px
          svg
            margin-right 5px
            position relative
            top 3px
          &.empty
            svg
              path
              circle
                fill #9
            color #9
      .barColor
        position absolute
        bottom 0px
        left 0px
        width 100%
        height 100%

  .paginator
    position absolute
    top 100px
    opacity 0.7
    transition opacity 0.8s
    display block
    span
      position absolute
      bottom -46px
      left -24px
      font-size 12px
      text-decoration underline
      color black
    &:hover
      right 15px
      opacity 1
      cursor pointer
    &.next
      right 15px
      triangle(23px, 46px, 'right', #0175b8)
    &.prev
      left 15px
      triangle(23px, 46px, 'left', #0175b8)
    &.disabled
      opacity 0
    &.removed
      display none
  &.is-obec .result-mandaty
    display none
  .supplemental
    .secteno
    .ucast
      &:before
        content "|"
        width 0.7em
        text-align center
        display inline-block
  .sub-pekac
    position absolute
    bottom -42px
    font-size 12px
    a
      color black
      &:hover
        text-decoration none
