@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Supplemental
  @import Pekac
  @import MapsContainer
  @import KrajeMap
  @import KrajDetail
  @import backbutton
  @import SenatMap

#aside
  display none
#page-zpravy-portal #aside
  display block

.ig h1 a:first-child
.ig.senat h1 a:last-child
  text-decoration none
  color black
.ig.senat h1 a:first-child
.ig h1 a:last-child
  text-decoration underline
  color #494949
.ig.senat .kraje-container
.ig.kraje .senat-container
  display none
.ig
  float left
  clear both
  width 1000px
  z-index 2000
  position relative
  background white
  padding 13px 0px 50px 0px
  h1
    font-size 36px
    font-weight bold
  .navod
    font-size 14px
    a
      color black
      &:hover
        text-decoration none
