.senat-container
  float left
  width 100%
  .mapka
    float left
    position relative
    max-width 500px
    width 50%
    svg
      transform-origin 0 0
      text
        font-weight bold
      path
        stroke-width 1
        stroke #747474
        &:hover
          cursor pointer
        &.is-inactive
          stroke #d9d9d9
          stroke-width 1
          fill white
          &:hover
            cursor not-allowed
        &.selected
          fill ColorRed
    .supplemental
      position absolute
      bottom 20px
      left 20px
      > *
        display block
      .value
        width 46px
      h3
        width 46px
        text-align right
    .validity-notice
      font-size 12px
      position absolute
      left 20px
      bottom -10px
  .senat-bar
    float left
    max-width 400px
    &.hidden
      ol
        visibility hidden
    h2
      font-size 28px
      font-weight 700
      margin 0
      span
        font-size 12px
        font-weight 400
    .sub-heading
      font-size 12px
      margin-bottom 18px
      margin-top 7px
      .supplemental
        .secteno
        .ucast
          &:after
            content "|"
            width 0.8em
            text-align center
            display inline-block
    ol
      list-style-type none
      margin 0
      padding 0
      li
        padding 0
        margin 0
        &:nth-child(1)
        &:nth-child(2)
          width 50%
          float left
          position relative
          .counter
            position absolute
            top 0
            left 0
            font-size 18px
            font-weight 700
          .bar-label
            position absolute
            top 0
            left 101px
          .name-party
            position absolute
            bottom 0
            left 101px
            right 0
            .name
            .party
              font-size 12px
              margin 0
            .name
              font-weight bold
            .party
              font-weight normal


          img
            margin-left 20px
            width 72px
            height 108px
        &:nth-child(2) ~ li
          float left
          width 100%
          &:nth-child(3)
            margin-top 5px
          img
            display none
          h3
          h4
          .bar-label
          .counter
          .name-party
            display inline
            font-size 12px
            font-weight 700
          .name
            padding 0.25em
            &:after
              content ", "
          .bar-label
            display inline-block
            width 4em
            text-align right
